In [9]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Yuvraj Sahni\\python\\py\\pandas\\5_handling_missing_data_fillna_dropna_interpolate\\weather_data.csv")
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [12]:
import pandas.io.data as web
df=web.DataReader('AAPL','google','2016/1/1','2017/1/1')
df.head()

ModuleNotFoundError: No module named 'pandas.io.data'